<h1>{{title}}</h1>
<ul>
  <!--Enutilisant la directive ngClass, on applique la classe css isImportant si i==Thor--->
  <li *ngFor="let i of superheroes " [ngClass]="{'isImportant': i === 'Thor'}">
    <p *ngIf="i === 'Hulk'">
      <span class="fas fa-check"></span>
    </p>
    {{i}}
  </li>
</ul>
<!---On lie le bouton a la valeur de newHeroAdded cad si
la propriete nesHeroAdded prend la valeur true le bouton ce desactive -->
<button type="button" [disabled]="newHeroAdded" (click)="addNewHero()">addNewHero</button>
<!--Si disabled === true alors bouton desactiver sinon bouton activer--->
